<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Color Hexadecimal</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.title %></td>
      <td><%= category.color %></td>
      <td style="background-color:<%= category.color %>;"></td>
    </tr>
    <% end %>
  </tbody>
</table>