.banner {
  text-align: center;
  padding: $padding-narrow;
  margin-top: 0px;
}

.alert {
  background-color: $alert;
}

.notice {
  background-color: $notice;
}

header {
  text-align: center;
}

.center {
  text-align: center;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.space-evenly {
  justify-content: space-evenly;
  display: flex;
}