<header>
<h1><%= html_escape(@page_title) %></h1>
  <nav>
    <a href="<%= categories_path %>">Categories</a>
    <a href="<%= point_of_interest_index_path %>">Point of Interests</a>
    <a href="">Users</a>
  </nav>
</header>